/* font and background stylings, with some display declarations */
body {
  font-family: "roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 5px 15px;
}

.block-one, .footer {
  background-color: #1f2937;
}

.top__logo {
  font-size: 24px;
}

.top__logo, .left__title {
  color:#f9faf8;
}

ul {
  padding: 0px;
  display: flex;
  list-style-type: none;
}

li {
  margin-left: 10px;
}

.left__title {
  font-weight: 900;
  font-size: 48px;
}

.bottom__placeholder {
  background-color: gray;
  padding: 125px;
  white-space: nowrap;
}

ul, .left__subtext, .bottom__placeholder {
  font-size: 18px;
  color: #e5e7eb;
}

.block-two__title {
  font-weight: 900;
}

.image {
  border: 4px solid #3882f6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.subtext {
  padding: 10px;
}

.block-three__quote, .block-two__title {
  color: #1f2937;
  font-size: 36px;
}

.block-three__quote {
  font-style: italic;
  font-weight: 100;
  flex: 0 1 auto;
}

.block-three__author {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

.block-four__blue-box {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 20px 60px 20px 60px;
}

.footer {
  color: #f9faf8;
  padding: 15px;
  font-size: 12px;
}
/*Border to help see*/
/* {
  border: 1px solid red 
} remover this text and first / to enable border */
/* (most) flex declarations and block positioning*/
.block-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 50px 50px;
  row-gap: 50px;
}

.block-one__top {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
  flex: 1;
}

.block-one__bottom {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
.bottom_left {
  flex: 0 0 auto;
  display: flex;
}

.left__subtext {
  flex: none;
  min-width: 460px;
}

.block-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 50px 30px;
}

.block-two__info {
  display: flex;
  flex-direction: row;
}

.info__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.block-three {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding:70px;
  flex-wrap: nowrap;
}

.block-four {
  display: flex;
  padding: 50px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}